<h1>Flickr Photos</h1>


<%= form_tag("/static_pages/index", method: "get", data: { turbo: false }) do %>
  <%= label_tag :user_id, "Enter user_id to display photos" %>
  <%= text_field_tag :user_id, @user_id %>
  <%= submit_tag "Find my photos" %>
<% end %>


<% if @photos%>
<% @photos.each do |url| %>
  <%= image_tag url %>
<% end %>
<%end%>